In [51]:
# loading the necessary libraries
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import autoviz.AutoViz_Class
import klib

### Loading data

In [52]:
# loading the csv file into a pandas dataframe format 
df = pd.read_csv("/DataScienceProjects/petrolData.csv",index_col=1,encoding='latin-1')

In [53]:
# checking the top 5 rows of the dataset
df.head()

,S#,Daily Oil Consumption (Barrels),World Share,Yearly Gallons Per Capita,Price Per Gallon (USD),Price Per Liter (USD),Price Per Liter (PKR),GDP Per Capita ( USD ),Gallons GDP Per Capita Can Buy,xTimes Yearly Gallons Per Capita Buy
Country,,,,,,,,,,
United States,1,"19,687,287",20%,934.3,5.19,1.37,289.97,"63,414","12,218",13
China,2,"12,791,553",13%,138.7,5.42,1.43,302.87,"10,435","1,925",14
India,3,"4,443,000",5%,51.4,5.05,1.33,281.93,"1,901",376,7
Japan,4,"4,012,877",4%,481.5,4.69,1.24,262.05,"40,193","8,570",18
Russia,5,"3,631,287",4%,383.2,3.41,0.90,190.56,"10,127","2,970",8

### Exploratory Data Analysis on Petrol/Gas Dataset

Now we will dig deep into the insights of the dataset by cleaning, visualizing, and building some analysis through them.

In [54]:
# check total countries and their columns 
print("There are ",len(df),"countries and ", len(df.columns),"columns of each.")

There are  181 countries and  10 columns of each.

In [55]:
# dataset summary
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 181 entries, United States to Tonga
Data columns (total 10 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   S#                                    181 non-null    int64
 1   Daily Oil Consumption (Barrels)       181 non-null    object
 2   World Share                           181 non-null    object
 3   Yearly Gallons Per Capita             181 non-null    float64
 4   Price Per Gallon (USD)                181 non-null    float64
 5   Price Per Liter (USD)                 181 non-null    float64
 6   Price Per Liter (PKR)                 181 non-null    float64
 7   GDP Per Capita ( USD )                181 non-null    object
 8   Gallons GDP Per Capita Can Buy        181 non-null    object
 9   xTimes Yearly Gallons Per Capita Buy  181 non-null    int64
dtypes: float64(4), int64(2), object(4)
memory usage: 15.6+ KB

In [56]:
# here we will see the mean, dispersion and overall shape of the dataset.
df.describe()

,S#,Yearly Gallons Per Capita,Price Per Gallon (USD),Price Per Liter (USD),Price Per Liter (PKR),xTimes Yearly Gallons Per Capita Buy
count,181.000000,181.000000,181.000000,181.000000,181.000000,181.000000
mean,91.000000,332.006630,5.695691,1.505138,318.219227,14.204420
std,52.394338,436.558735,4.370484,1.154575,244.192081,48.613866
min,1.000000,2.200000,0.080000,0.020000,4.650000,1.000000
25%,46.000000,53.900000,4.150000,1.100000,232.020000,6.000000
50%,91.000000,180.200000,5.280000,1.400000,295.040000,9.000000
75%,136.000000,424.600000,6.760000,1.790000,377.740000,12.000000
max,181.000000,3679.500000,54.890000,14.500000,3066.750000,654.000000

### Data Cleaning

Data cleaning include removing duplicates, handling missing values, removing outliers, adjusting the data types, removing
irrelvant features/information, and validation.

In [57]:
# visualizing the missing values in the numerical features of the dataset, if there is any
klib.missingval_plot(df)

No missing values found in the dataset.

In [58]:
# summarize the type and overall picture of dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 181 entries, United States to Tonga
Data columns (total 10 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   S#                                    181 non-null    int64
 1   Daily Oil Consumption (Barrels)       181 non-null    object
 2   World Share                           181 non-null    object
 3   Yearly Gallons Per Capita             181 non-null    float64
 4   Price Per Gallon (USD)                181 non-null    float64
 5   Price Per Liter (USD)                 181 non-null    float64
 6   Price Per Liter (PKR)                 181 non-null    float64
 7   GDP Per Capita ( USD )                181 non-null    object
 8   Gallons GDP Per Capita Can Buy        181 non-null    object
 9   xTimes Yearly Gallons Per Capita Buy  181 non-null    int64
dtypes: float64(4), int64(2), object(4)
memory usage: 15.6+ KB

In [59]:
# will drop the duplicates, empty rows/cols, and adjust dtypes ...
df_cleaned = klib.data_cleaning(df)

Long column names detected (>25 characters). Consider renaming the following columns ['daily_oil_consumption_barrels', 'gallons_gdp_per_capita_can_buy', 'x_times_yearly_gallons_per_capita_buy'].
Shape of cleaned data: (181, 10)Remaining NAs: 0

Changes:
Dropped rows: 0
     of which 0 duplicates. (Rows: [])
Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 0
Reduced memory by at least: 0.01 MB (-50.0%)

In [60]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 10 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   s_hash                                 181 non-null    int16
 1   daily_oil_consumption_barrels          181 non-null    string
 2   world_share                            181 non-null    string
 3   yearly_gallons_per_capita              181 non-null    Float32
 4   price_per_gallon_usd                   181 non-null    Float32
 5   price_per_liter_usd                    181 non-null    Float32
 6   price_per_liter_pkr                    181 non-null    Float32
 7   gdp_per_capita_usd                     181 non-null    string
 8   gallons_gdp_per_capita_can_buy         181 non-null    string
 9   x_times_yearly_gallons_per_capita_buy  181 non-null    int16
dtypes: Float32(4), int16(2), string(4)
memory usage: 10.0 KB

* Data contains no missing values, duplicates rows, and cols.
* Some features of the dataset was assigned inappropriate dataset,
* but after cleaning through "Klib" appropriate ones are assigned to them.
* Also, it doesn't contain NAN value in any numerical feature.

As some of the features of the dataset contains strings dtype() which is logically wrong
Which should've been assigned an integer type, also strings in these features contains commas in them. 
So, we need to remove those commas before converting them to numerical type

In [67]:
# Not taking all the columns of strings type, just those which are wrongly assigned
# removing commas and setting up the integer type for them
for col in df_cleaned.columns[[1,7,8]]:
    df_cleaned[col] = [val.replace(",","") for val in df_cleaned[col]]
    df_cleaned.astype({col:int})

In [68]:
# check the updated dtype of the features
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 10 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   s_hash                                 181 non-null    int16
 1   daily_oil_consumption_barrels          181 non-null    object
 2   world_share                            181 non-null    string
 3   yearly_gallons_per_capita              181 non-null    Float32
 4   price_per_gallon_usd                   181 non-null    Float32
 5   price_per_liter_usd                    181 non-null    Float32
 6   price_per_liter_pkr                    181 non-null    Float32
 7   gdp_per_capita_usd                     181 non-null    object
 8   gallons_gdp_per_capita_can_buy         181 non-null    object
 9   x_times_yearly_gallons_per_capita_buy  181 non-null    int16
dtypes: Float32(4), int16(2), object(3), string(1)
memory usage: 10.0+ KB

In [69]:
df_cleaned.head()

,s_hash,daily_oil_consumption_barrels,world_share,yearly_gallons_per_capita,price_per_gallon_usd,price_per_liter_usd,price_per_liter_pkr,gdp_per_capita_usd,gallons_gdp_per_capita_can_buy,x_times_yearly_gallons_per_capita_buy
0,1,19687287,20%,934.299988,5.19,1.37,289.970001,63414,12218,13
1,2,12791553,13%,138.699997,5.42,1.43,302.869995,10435,1925,14
2,3,4443000,5%,51.400002,5.05,1.33,281.929993,1901,376,7
3,4,4012877,4%,481.5,4.69,1.24,262.049988,40193,8570,18
4,5,3631287,4%,383.200012,3.41,0.9,190.559998,10127,2970,8